.mdx {
  background-color: inherit;

  --headlineColor: var(--headlineColorLight, --basecolor);
  @media (prefers-color-scheme: dark) {
    --headlineColor: var(--headlineColorDark, --basecolor);
  }

  line-height: 1.5;

  article {
    // max-width: 1024px;
    // margin: 0 auto;
    // min-height: 100vh;
    // padding: 2rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    line-height: 1.1;
    margin-bottom: 1rem;
  }
  h1 {
    font-size: 6rem;

    color: var(--headlineColor);
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  h6 {
    font-size: 1rem;
  }

  p {
    line-height: 1.5;
  }

  h1 + p {
    margin-bottom: 3rem;
  }

  p + h2,
  p + h3,
  p + h4 {
    margin-top: 2rem;
  }

  blockquote {
    font-style: italic;
    margin-top: 2rem;
    margin-bottom: 2rem;
    // border-bottom: 3px solid var(--color);
  }
  article > ul,
  article > ol {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  article > img {
    width: 40%;
    float: right;
    margin: 30px 0 30px 30px;
  }

  img.illustration-s {
    width: 30%;
  }
  img.illustration-xs {
    width: 20%;
  }

  ol {
    padding-left: 5rem;
  }
  li::marker,
  li > h3 {
    display: flex;
    font-size: 2rem;
    font-family: var(--headerfont), serif;

    color: var(--headlineColor);
  }
  li {
    margin-bottom: 3rem;
  }

  .calendar-year {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
}

// .backbutton {
//   position: fixed;
//   top: 1rem;
//   left: 1rem;
//   z-index: 10;
//   padding: 1rem;
//   font-size: 2rem;
//   font-weight: bold;
//   fill: var(--headlineColor);
//   line-height: 1rem;
//   border-radius: 100px;

//   svg {
//     width: 30px;
//     height: auto;
//   }
// }

.blog-top-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin: 3rem 0;

  img {
    border: 10px solid white;
    box-shadow: 1px 1px 5px #0000007a;
  }
  img:nth-child(1) {
    transform: rotate(2deg);
  }
  img:nth-child(2) {
    transform: rotate(-1deg);
  }
  img:nth-child(3) {
    transform: rotate(2deg);
  }
  img:nth-child(4) {
    transform: rotate(-3deg);
  }
}
