.monthly-blog {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    position: absolute;
    top: -30px;
    right: -20px;
    width: min(150px, 50%);

    filter: drop-shadow(2px 0px 0 var(--borderColor)) drop-shadow(0px 2px 0 var(--borderColor)) drop-shadow(-2px -0px 0 var(--borderColor))
      drop-shadow(-0px -2px 0 var(--borderColor));
  }

  display: flex;
  flex-direction: column;
  height: 100%;
  width: 230px;
  text-align: center;
  aspect-ratio: 1 / 1;

  h5 {
    margin-bottom: 1rem;
  }
  p {
  }

  a,
  a:hover {
    padding: 1rem;
    margin-bottom: -1rem;
    color: inherit;
  }
}
